doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./assets/css/style.css")
    title Sass Lessons
  body
    .card.bg-gray 
      .card__wrapper 
        .card__img 
          img(src="./assets/images/X.png", alt="iphone X")
        .card__about 
          .card__title.text-orange Iphone X
          .card__subtitle.text-yellow Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi in earum recusandae, sint error quos.
          .card__price.bg-green.text-white $1000
        .card__btn 
          button.btn.bg-white Add Cart +
